.imageFrame {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 110px;
height: 100px;
cursor: pointer;
border-radius: 6px;
&:hover {
scale: 1.05;
transition: var(--trans-speed);
}
}

.mosaique {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr); 
}


@media (min-width: 500px) and (max-width: 699px) {
    .mosaique {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (min-width: 700px) and (max-width: 899px) {
    .mosaique {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media (min-width: 900px) and (max-width: 1099px) {
    .mosaique {
        grid-template-columns: repeat(5, 1fr);
    }
}


@media (min-width: 1100px) {
    .mosaique {
        grid-template-columns: repeat(6, 1fr);
    }
}

.mosaique img {
    width: 100%;
    height: auto;
    display: block;
}

.titreImage {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 25px;
}